.bg {
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body {
    background-size: cover;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: rgb(84, 191, 191); 
}  

#start_button {
      font-family: 'Comic Neue', cursive;
    background-color: rgb(138, 235, 42);
    font-size: 18px;
    color: rgb(32, 75, 230);
    margin-left: 15px;
}

#status{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 16px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 115);
    font-weight: bolder;
    box-shadow: 4px 4px 18px rgb(225, 28, 225);
}

#check{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 16px;
    background-color: rgb(19, 66, 208);
    color: rgb(255, 0, 115);
    font-weight: bolder;
    box-shadow: 4px 4px 18px rgb(225, 28, 225);
}

.copyright_footer {
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    font-family: 'Comic Neue', cursive;
    background-color: rgb(138, 235, 42);
    font-size: 18px;
    color: rgb(32, 75, 230);
    line-height:1.36;
    box-shadow: 1px 1px 18px whitesmoke;
    
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px whitesmoke;
}

.info{
    font-size: 20px;
    margin-right: 75px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    
    }